	<div class="col-md-6 col-md-offset-3 centered">
	<h2>Public Space</h2>
	<p>You can see this</p>
	<% if user_signed_in? %>
		You are <%= current_user.email %>
		<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-warning' %>

	<% else %>
		<%= link_to 'Sing up', new_user_registration_path, :class => 'btn btn-primary' %>
		<%= link_to 'Log in', new_user_session_path, :class => 'btn btn-success' %>
	<% end %>
</div>